* {
  box-sizing: border-box;
  transition: all .3s;
}

html, body {
  min-height: 100%;
}

body {
  color: #1c1c1c;
  font-size: 16px;
  background: white;
  font-family: 'Roboto', Georgia, Arial, sans-serif;
  font-weight: 400;
}

img,
video,
object,
embed {
  max-width: 100%;
  height: auto;
}

abbr,
abbr[title] {
  text-decoration: none;
  border-bottom: none;
}

abbr:hover,
abbr[title]:hover {
  color: #85ac5b;
  transition: all .1s;
}

a {
  display: inline-block;
  width: auto;
  color: rgba(28, 28, 28, 0.8);
  border-bottom: 1px solid #85ac5b;
}

a:hover {
  color: #85ac5b;
  border-bottom: 1px solid #1c1c1c;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lang-menu {
  position: fixed;
  top: 1.5em;
  right: 0;
  z-index: 25;
}

.lang-menu li a {
  display: block;
  width: 100%;
  padding: 1px 8px;
  color: white;
  font-size: .8em;
  background: #1c1c1c;
  text-transform: uppercase;
  border-bottom: none;
}

.lang-menu li a:hover {
  color: #85ac5b;
}

.lang-menu li .lang {
  background: #85ac5b;
  pointer-events: none;
}

.mini-menu {
  margin-bottom: 30px;
}

.mini-menu li {
  display: inline-block;
  margin-left: -4px;
  padding: 1px 8px;
  color: white;
  font-size: 0.8em;
  background: #1c1c1c;
}

.mini-menu li a {
  color: white;
  border-bottom: none;
}

.mini-menu li a:hover {
  color: #85ac5b;
}

.mini-menu .loaded {
  color: #1c1c1c;
  background: #85ac5b;
  pointer-events: none;
}

header {
  background: #f2f2f2;
}

header .row::after {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background: url(../img/header-wrapper-bottom.svg);
  background-size: cover;
  background-position: center;
}

header .row .intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0;
}

header .row .intro h1 {
  color: white;
  font-size: 3.2em;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(28, 28, 28, 0.8);
}

header .row .intro h1::before {
  content: '';
  display: inline-block;
  height: 80px;
  margin-right: 10px;
  margin-bottom: -10px;
  color: #85ac5b;
  border-left: 1px solid #85ac5b;
}

header .row .intro h1::after {
  content: '';
  display: inline-block;
  float: right;
  height: 80px;
  margin-left: 10px;
  margin-top: -65px;
  color: transparent;
  border-right: 1px solid #1c1c1c;
}

header .row .intro h1 span {
  display: block;
  margin-left: .05em;
  color: #1c1c1c;
  font-weight: 900;
  letter-spacing: .13em;
  text-shadow: none;
}

header .row .intro h4 {
  font-weight: 100;
  font-style: italic;
}

header .row .intro h4:first-of-type::before {
  content: '/*';
  display: inline;
  margin-right: 1em;
  color: #85ac5b;
  font-weight: 400;
}

header .row .intro h4:last-of-type::after {
  content: '*/';
  display: inline;
  margin-left: 1em;
  color: #85ac5b;
  font-weight: 400;
}

header .row .intro .my_photo {
  width: 180px;
  height: 180px;
  background: url(../img/my_photo.jpg);
  background-size: cover;
  border-left: 5px solid #85ac5b;
  transform: skew(-10deg);
}

header .row .intro .my_photo:hover {
  background: url(../img/my_photo_green.jpg);
  background-size: cover;
}

main {
  margin-top: 20px;
}

main .row div[class$="12"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

main .row div[class$="12"] h2 {
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}

main .row div[class$="12"] h2::before {
  content: '-';
  display: inline-block;
  width: 80px;
  margin-right: -40px;
  color: transparent;
  border-top: 1px solid #85ac5b;
}

main .row div[class$="12"] h2::after {
  content: '-';
  display: inline-block;
  width: 40px;
  margin-left: -20px;
  color: transparent;
  border-bottom: 1px solid #1c1c1c;
}

main .skills-list {
  text-align: left;
}

main .skills-list li {
  display: inline-block;
  margin: 1em;
  font-size: .8em;
}

main .skills-list li::after {
  content: ',';
}

main .skills-list li:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

main .skills-list li:first-child::after {
  content: '';
}

main .skills-list li:last-child::after {
  content: '';
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation li {
  display: inline-block;
  margin: 0 2em;
}

.navigation li a {
  display: block;
  padding: 4px 12px;
  border-bottom: 2px solid transparent;
  z-index: 15;
}

.navigation li a:hover {
  color: #85ac5b;
}

.navigation li a::after {
  content: '\2014';
  display: block;
  margin-top: -8px;
  margin-right: -13px;
  text-align: right;
}

.navigation li a::after::hover {
  color: #1c1c1c;
}

.navigation .active {
  color: #1c1c1c;
  border-top-color: transparent;
  border-bottom: 2px solid rgba(133, 172, 91, 0.8);
  pointer-events: none;
}

.navigation .active::after {
  content: none;
}

.navigation .active::before {
  content: '\2014';
  display: block;
  margin-left: -13px;
  margin-bottom: -8px;
  color: #85ac5b;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
}

.content div p {
  width: 100%;
  font-size: 1em;
}

.content .selected {
  position: inherit;
  height: 100%;
  opacity: 1;
  z-index: 10;
  animation-name: tab;
  animation-duration: .05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.contacts li {
  display: block;
  margin: 0 1em;
  border-radius: 50%;
}

.contacts li a {
  display: block;
  padding: .5em 1em;
  border-bottom: none;
}

.contacts li a:hover {
  transform: translatey(-0.2em);
}

.contacts li a:hover > img {
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(28, 28, 28, 0.6);
}

.contacts li a:active {
  transform: translatey(0.2em);
}

.contacts li img {
  width: 48px;
  height: 48px;
  padding: 8px;
  background: rgba(28, 28, 28, 0.8);
}

.contacts li a[href*="gmail.com"]:hover > img {
  background: #d44a3c;
}

.contacts li a[href*="github.com"]:hover > img {
  background: #24292e;
}

.contacts li a[href*="vk.com"]:hover > img {
  background: #6287ae;
}

footer {
  margin-top: 60px;
  background: #f2f2f2;
}

footer .row::before {
  display: block;
  margin: 0;
  margin-bottom: -20px;
  padding: 0;
  width: 100%;
  height: 70px;
  background: url(../img/header-wrapper-top.svg);
  background-size: cover;
  background-position: center;
}

footer .row h4 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 100;
}

footer .row h4 span {
  color: #85ac5b;
  font-weight: 400;
}

.to-the-top {
  position: fixed;
  bottom: 5em;
  right: 1em;
  width: 44px;
  height: 44px;
  background: #1c1c1c;
  z-index: 10;
}

.to-the-top a {
  display: block;
  padding-left: 15px;
  color: transparent;
  font-size: 2em;
  line-height: 1.2em;
  text-align: left;
  border: none;
}

.to-the-top::before {
  content: '|';
  display: block;
  float: left;
  margin-top: -22px;
  margin-left: 5px;
  color: #85ac5b;
  font-size: 2em;
  font-weight: 400;
}

.to-the-top::after {
  content: '|';
  display: block;
  float: right;
  margin-top: -26px;
  margin-right: 5px;
  color: #85ac5b;
  font-size: 2em;
  font-weight: 400;
}

.to-the-top:hover {
  box-shadow: 0 0 2px rgba(28, 28, 28, 0.8);
}

.to-the-top:hover::before {
  transform: translateY(40px);
}

.to-the-top:hover::after {
  transform: translateY(-40px);
}

.to-the-top:active {
  transform: translateY(0.5em) scale(0.2);
}

.projects {
  padding: 30px 15px;
}

.projects .project-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 40px 0;
}

.projects .project-box .poster {
  width: 40%;
  background: #85ac5b;
}

.projects .project-box .poster img {
  width: 100%;
  filter: grayscale(1);
  transform: translateX(5px) translateY(5px);
}

.projects .project-box .poster img:hover {
  filter: grayscale(0);
  transform: translateX(-5px) translateY(-5px);
}

.projects .project-box .description {
  width: 50%;
  margin-left: 2em;
  padding: 15px 5px;
}

.projects .project-box .description p {
  width: 100%;
  color: rgba(28, 28, 28, 0.6);
  text-align: center;
}

.projects .project-box .description h1 {
  width: 100%;
}

.projects .project-box .description a {
  float: right;
}

.projects .project-box .description a:hover img {
  transform: scale(1.1);
}

.projects .project-box:nth-child(odd) {
  justify-content: flex-start;
}

.projects .project-box:nth-child(odd) h1::before {
  content: '-';
  display: inline-block;
  width: 120px;
  margin-right: -100px;
  color: transparent;
  border-top: 2px solid #85ac5b;
}

.projects .project-box:nth-child(even) {
  justify-content: flex-end;
}

.projects .project-box:nth-child(even) h1::before {
  content: '-';
  display: inline-block;
  width: 120px;
  margin-left: -100px;
  color: transparent;
  border-top: 2px solid #85ac5b;
  float: right;
}

.projects .project-box:nth-child(even) img {
  transform: translateX(-5px) translateY(-5px);
}

.projects .project-box:nth-child(even) img:hover {
  transform: translateX(5px) translateY(5px);
}

.projects .project-box:nth-child(even) > .poster {
  order: 2;
}

.projects .project-box:nth-child(even) > .description {
  order: 1;
  margin-left: 0;
  margin-right: 2em;
}

.projects .project-box:nth-child(even) > .description h1 {
  text-align: right;
}

.projects .project-box:nth-child(even) > .description a {
  float: left;
}

@keyframes hulk {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tab {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: .25;
  }
  50% {
    transform: translateY(-20px);
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 200px) and (max-width: 240px) {
  .intro h1 {
    font-size: 1.8em !important;
  }
}

@media screen and (min-width: 241px) and (max-width: 479px) {
  .intro {
    margin: 22px 0 !important;
  }
  .intro h1 {
    font-size: 2.4em !important;
  }
  main .row div[class$="12"] h2 {
    font-size: 1.2em !important;
  }
  .project-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .project-box .poster {
    width: 100% !important;
    order: 1 !important;
  }
  .project-box .description {
    width: 100% !important;
    order: 2 !important;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navigation li {
    display: inline-block;
    margin: 0 .8em;
    font-size: .8em;
  }
  .navigation li a {
    padding: 4px 6px;
  }
  .contacts {
    flex-direction: column !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  header .row::after {
    margin-bottom: -30px !important;
  }
  footer .row::before {
    margin-top: -30px !important;
  }
  main .row div[class$="12"] h2 {
    font-size: 1.2em !important;
  }
  .navigation li {
    margin: 0 .3em;
    font-size: .8em;
  }
  .navigation li a {
    padding: 4px 6px;
  }
  .content div p {
    width: 70vw;
    margin: 0 auto;
    margin-top: 10px;
  }
  .contacts {
    flex-direction: column !important;
  }
}
