html,
body {
	height: 100%;
}

body {
	color: #fff;
	background: linear-gradient(to right top, 
		#062796, 
		#72196a,
		#062796);
	background-size: 300% 300%;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
}

* {
	box-sizing: border-box;
	transition: .3s all;
}

ul {
	margin: 0;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	list-style-type: none;
}

.wrapper {
	display: flex;
  flex-direction: column;
  width: 100%;
	height: 100%;
	margin: 0 auto;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}

.logo-box {
	width: 35%;
}

.logo-box__img {
	width: 80%;
	height: auto;
	transform: translatey(0px);
	animation: float 3.5s ease-in-out infinite;
}

.logo-box::after {
	content: '';
	display: block;
	width: 30%;
	margin-left: 27%;
	height: 20px;
	border-radius: 50%;
	transform: translatey(0px);
	animation: floatS 3.5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(-20px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-20px);
	}
}

@keyframes floatS {
	0% {
		box-shadow: 0 35px 15px 0px rgba(22,22,22, .1);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 32px 15px 0px rgba(22,22,22, .4);
		transform: translatey(0px);
	}
	100% {
		box-shadow: 0 35px 15px 0px rgba(22,22,22, .1);
		transform: translatey(0px);
	}
}

.info-box {
	width: auto;
	padding: 30px 42px;
	background-color: rgba(22, 22, 22, .2);
	position: relative;
}

.info-box__name {
	font-size: 4em;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(22,22,22, .8);
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	position: relative;
}

.info-box::before {
	content: '';
	display: block;
	width: 15vw;
	border-top: 4px solid #fff;
	position: absolute;
	top: -2px;
	right: 32px;
}

.info-box::after {
	content: '';
	display: block;
	width: 7.5vw;
	border-top: 4px solid #fff;
	position: absolute;
	bottom: -2px;
	left: 32px;
}

.info-box__role {
	margin: 0;
	font-size: 1.85em;
	font-style: italic;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
	position: relative;
}

.footer {
	flex: 0 0 auto;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	font-family: 'Open Sans', sans-serif;
	padding: 0 64px;
	position: relative;
	border-top: 1px solid rgba(22, 22, 22, .1);
}

.navigation-list__item  {
	display: block;
	text-align: center;
}

.navigation-list__item a {
	display: block;
	padding: 24px 8px;
	color: rgba(255, 255, 255, .2);
	text-decoration: none;
}

.navigation-list__item a:hover {
	color: rgba(255, 255, 255, .6);
}

.navigation-list__item_magic-line { 
	position: absolute; 
	top: -2px;
	left: 0; 
	width: 100px; 
	height: 3px; 
	background: #fff;
}

.navigation-list__item_current-position a {
	color: #fff;
	text-shadow: 0 1px 1px rgba(22,22,22, .8);
	text-transform: uppercase;
}

.navigation-list__item_current-position a:hover {
	color: #fff;
}


.left-column,
.right-column {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	width: 49.75%;
	margin: 0 .5% 0 0;
	font-family: 'Open Sans', sans-serif;
}

.right-column {
	margin-right: 0;
}

.avatar,
.profile-info,
.skills-tree,
.buff-granted,
.experience-block,
.institution {
	padding: 12px 14px;
	border: 1px solid rgba(22,22,22, .2);
	background-color: rgba(22,22,22, .2);
	text-shadow: 0 1px 1px rgba(22,22,22, .8);
}

.avatar:hover,
.profile-info:hover,
.skills-tree:hover,
.buff-granted:hover,
.experience-block:hover,
.institution:hover {
	background-color: rgba(22,22,22, .3);
	box-shadow: 0 0 4px rgba(22,22,22, .6);
}


.profile-box {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1%;
}

.avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	margin-right: .5%;
}

.avatar img {
	width: 100%;
	height: 100%;
	border: 4px solid rgba(22,22,22, .2);
}

.profile-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 74.5%;
	height: 100%;
	font-family: 'Rajdhani', sans-serif;
	background-image: url("../img/logo.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 160% 0;
}

.profile-info__name,
.profile-info__surname {
	font-size: 2.4em;
	margin: 0;
}

.profile-info__plus,
.profile-info__status {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	font-style: italic;
	opacity: .8;
	text-shadow: none;
}

.profile-info__plus {
	font-style: normal;
	font-size: .8em;
}

.profile-info__status {
	animation: pinging 1.5s ease-in-out infinite;
}

@keyframes pinging {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .6;
	}
	100% {
		opacity: 1;
	}
}

.skills-tree {
	width: 100%;
	height: 8%;
	margin-bottom: 1%;
}

.skills-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	font-size: .8em;
	line-height: 1;
}

.buff-granted {
	width: 100%;
	height: 8%;
	margin-bottom: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.education-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 41%;
	font-size: .9em;
}

.institution {
	width: 49.75%;
	height: 100%;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}

.institution li {
	margin: 10px 0;
}

.institution__rank {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

img[alt*="one"],
img[alt*="three"] {
	height: 17px;
	margin: 0 5px;
}

img[alt*="two"] {
	height: 23px
}

.experience-box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.experience-box,
.experience-block {
	width: 100%;
}

.experience-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 32.6666666667%;
}

.experience-block:nth-of-type(1),
.experience-block:nth-of-type(2) {
	margin-bottom: 1%;
}

.experience-ico {
	width: 20%;
}

.experience-ico img {
	width: 85%;
	margin: 0 auto;
	transform: scale(.8);
}

.experience-info {
	width: 80%;
	padding: 0 10px;
}

.experience-title {
	margin: 15px 0;
	font-size: 1.2em;
	text-transform: uppercase;
}

.experience-period {
	opacity: .8;
}

.faded-text {
	opacity: .6;
	font-size: .9em;
	text-shadow: none;
}

.projects-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 	1;
	perspective: 100vw;
}

.project-block {
	width: 49%;
	height: 45%;
	margin-right: 1%;
	position: relative;
	box-shadow: 0 30px 20px rgba(22,22,22, .6);
	transform: rotateX(40deg) scale(.8);
}

.project-block:nth-child(even) {
	margin-right: 0;
}

.project-poster {
	width: 100%;
	height: 100%;
	border: 14px solid rgba(22,22,22, .4);
	opacity: 1;
	z-index: 2;
}

.project-caption {
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 14px 32px;
	background-color: rgba(22,22,22, .8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: rotateX(-90deg);
}

.project-block:hover .project-caption {
	bottom: 0;
	cursor: pointer;
	transform: rotateX(0);
}

.project-block:hover .project-poster {
	opacity: 1;	
	border-color: rgba(22,22,22, .8);
}

.project-block:hover {
	transform: none;
	z-index: 2;
	box-shadow: 0 0 26px rgba(22,22,22, .8);		
}

.project-caption__uses {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	top: -24px;
}

.project-caption__uses li {
	display: inline-block;
	width: auto;
	margin-left: 6px;
	padding: 4px 8px;
	background-color: rgba(22,22,22, 1);;
}

.project-caption__link {
	display: block;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0 1px 1px rgba(22,22,22, .8);
	text-transform: uppercase;
	text-decoration: none;
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.contacts-item {
	width: 33.33%;
	display: inline-block;
}

.contacts-item__link {
	display: block;
	width: 120px;
	height: 120px;
	padding: 30px;
	margin: 0 auto;
	color: #fff;
	position: relative;
	overflow: hidden;
	transform: rotate(0deg) scale(.8);
}

.contacts-item:hover .contacts-item__link {
	box-shadow: 0 0 20px	rgba(22,22,22, .9);
	transform: rotate(360deg) scale(1);
}

.contacts-item:nth-of-type(1):hover .contacts-item__link {
	background-color: #D14836;
}

.contacts-item:nth-of-type(2):hover .contacts-item__link {
	background-color: #3B5998;
}

.contacts-item:nth-of-type(3):hover .contacts-item__link {
	background-color: #2CA5E0;
}

.contacts-item__link img {
	width: 100%;
}

.contacts-item__link span {
	display: block;
	background: #fff;
}

.contacts-item__link span:nth-of-type(odd) {
	position: absolute;
	height: 4px;
	width: 100%;
}

.contacts-item__link span:nth-of-type(even) {
	position: absolute;
	height: 100%;
	width: 4px;
}

.contacts-item__link span:nth-of-type(1) {
	top: 0;
	left: -100%;
	transition-delay: 0s;
}

.contacts-item__link span:nth-of-type(2) {
	top: -100%;
	right: 0;
	transition-delay: .1s;
}

.contacts-item__link span:nth-of-type(3) {
	bottom: 0;
	right: -100%;
	transition-delay: .2s;
}

.contacts-item__link span:nth-of-type(4) {
	bottom: -100%;
	left: 0;
	transition-delay: .3s;
}

.contacts-item:hover .contacts-item__link span:nth-of-type(1) {
	top: 0;
	left: 0;
}

.contacts-item:hover .contacts-item__link span:nth-of-type(2) {
	top: 0;
	right: 0;
}

.contacts-item:hover .contacts-item__link span:nth-of-type(3) {
	bottom: 0;
	right: 0;
}

.contacts-item:hover .contacts-item__link span:nth-of-type(4) {
	bottom: 0;
	left: 0;
}

.r-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	opacity: .4;
}

@media screen and (min-width: 280px) and (max-width: 1023px) {
	body {
		height: auto;
		background-size: 750% 750%;
		animation: none;
		background-position: 20% 50%;
	}
	.wrapper {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		-ms-align-items: center;
		align-items: center;
	}
	.content {
		width: 96%;
		height: auto;
		margin: 0 auto;
		margin-bottom: 6%;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: flex-start;
		-ms-align-items: center;
		align-items: center;
	}
	.left-column,
	.right-column {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.left-column {
		margin-bottom: 30px;
	}
	.profile-box {
		height: auto;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: flex-start;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 15px;
	}
	.avatar {
		width: 100%;
		margin-right: 0;
		margin-top: 15px;
		order: 2;
	}	
	.profile-info {
		width: 100%;
		order: 1;
		margin-top: 15px;
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: -20% 20%;
		text-align: right;
	}
	.skills-tree,
	.buff-granted,
	.education-box {
		height: auto;
		margin-bottom: 15px;
	}
	.education-box {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: flex-start;
		-ms-align-items: center;
		align-items: center;
	}
	.institution {
		width: 100%;
		margin-bottom: 5px;
	}
	.experience-box {
		height: auto;
	}
	.experience-block {
		height: auto;
		margin-bottom: 15px;
	}
	.projects-box {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: auto;
		perspective: 1000px;
	}

	.project-block {
		width: 90% !important;
		height: 25%;
		margin-right: 0%;
	}

	.footer {
		height: auto;
	}
	.contacts {
		flex-direction: column;
		justify-content: center;
	}
	.r-info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.wrapper {
		height: 540px;
	}

	.content {
		max-width: 1140px;
		margin: 0 auto;
		height: 87%;
		margin-bottom: 6%;
	}
	.footer {
		height: 7%;
	}
	.left-column,
	.right-column {
		height: 100%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1679px) {
	.wrapper {
		height: 680px;
	}

	.content {
		max-width: 1140px;
		margin: 0 auto;
		height: 87%;
		margin-bottom: 6%;
	}
	.footer {
		height: 7%;
	}
	.left-column,
	.right-column {
		height: 100%;
	}
}

@media screen and (min-width: 1679px) {
	.wrapper {
		height: 840px;
	}

	.content {
		max-width: 1440px;
		margin: 0 auto;
		height: 87%;
		margin-bottom: 6%;
	}
	.footer {
		height: 7%;
	}
	.left-column,
	.right-column {
		height: 100%;
	}
}


@media screen and (min-width: 280px) and (max-width: 619px) {
	.logo-box {
		width: 100%;
	}
	.logo-box__img {
		width: 70%;
		margin-top: 60px;
		margin-left: 15%;
	}
	.info-box {
		font-size: .65em;
	}
	.footer {
		margin-top: 30px;
		font-size: 1em;
	}
	.navigation-list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.navigation-list__item {
		width: 100%;
		text-align: center;
		font-size: 1em;	
	}
	.navigation-list__item_magic-line {
		display: none;
	}
}

@media screen and (min-width: 620px) and (max-width: 1023px) {
	.logo-box {
		width: 100%;
	}
	.logo-box__img {
		width: 40%;
		margin-top: 60px;
		margin-left: 30%;
	}
	.footer {
		margin-top: 30px;
		font-size: 1em;
	}

}