@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(bootstrap-grid-3.3.1.min.css);
@import url(font-awesome-4.7.0/css/font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Roboto:100,400,400i,700";
* {
  box-sizing: border-box;
  transition: all .3s;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Roboto', Georgia, Arial, sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.intro .col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro nav[class*="nav"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: rgba(17, 17, 17, 0.8);
  border-bottom: 1px solid rgba(17, 17, 17, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.6);
}

.intro nav[class*="nav"] ul {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: none;
}

.intro nav[class*="nav"] ul li {
  display: inline-block;
  margin: 0 15px;
}

.intro nav[class*="nav"] ul li:nth-child(odd) {
  color: white;
  opacity: 0;
}

.intro nav[class*="nav"] ul li a {
  padding: 2px 10px;
  color: white;
  border-bottom: 2px solid transparent;
}

.intro nav[class*="nav"] ul li a:hover {
  color: white;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
  border-bottom: 2px solid #0f8896;
}

.intro nav[class*="nav"] .anchors {
  padding-left: 0;
}

.intro div[class*="ava"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
}

.intro div[class*="ava"] img {
  width: 55%;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 14px rgba(17, 17, 17, 0.6);
}

.intro div[class*="text"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro div[class*="text"] h1 {
  font-weight: 100;
  font-size: 54px;
  color: #111111;
  text-align: center;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
}

.intro div[class*="text"] p {
  width: auto;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 18px;
  color: #111111;
  background: white;
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.4);
  border-radius: 4px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.intro div[class*="text"] p .mathColor {
  color: #f46a6a;
}

.intro div[class*="text"] p .infColor {
  color: #0f8896;
}

main .container-fluid {
  margin: 0;
  padding: 0;
}

main .container-fluid .row {
  padding: 0;
  margin: 0;
}

.aboutMe,
.reviews,
.prices,
.contacts,
.map {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  padding: 0;
}

.blockTitle {
  width: 100vw;
  margin: 0;
  text-align: center;
  font-size: 42px;
  color: white;
  margin-bottom: 45px;
  padding: 25px 0;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  background-color: rgba(17, 17, 17, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(17, 17, 17, 0.8);
}

div[class*="col"] .achievementsCont {
  padding: 15px;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0);
  margin-bottom: 15px;
  height: 100%;
}

div[class*="col"] .achievementsCont:hover {
  background-color: white;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.4);
}

div[class*="col"] .achievementsCont:hover > h1 > i {
  color: #0f8896;
}

div[class*="col"] .achievementsCont a {
  color: #0f8896;
  border-bottom: 1px solid transparent;
}

div[class*="col"] .achievementsCont a:hover {
  border-bottom: 1px solid white;
}

h1.ico {
  text-align: center;
  border-bottom: none;
}

h1.ico i {
  color: rgba(17, 17, 17, 0.75);
  padding-bottom: 30px;
  font-size: 60px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.4);
}

p {
  color: rgba(17, 17, 17, 0.75);
  text-align: center;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.2);
}

p .rate {
  letter-spacing: .5px;
  color: #0f8896;
  font-weight: 700;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0);
  margin-bottom: 30px;
  width: 100%;
}

.reviewContainer:hover {
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.8);
  border-radius: 4px;
}

.reviewContainer .student {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  background: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.reviewContainer .student:nth-child(1), .reviewContainer .student:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviewContainer .student:nth-child(1) h1, .reviewContainer .student:nth-child(2) h1 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 15px;
}

.reviewContainer .student:nth-child(1) h5, .reviewContainer .student:nth-child(2) h5 {
  color: rgba(17, 17, 17, 0.75);
}

.reviewContainer .student img {
  width: 100%;
  border: 3px solid rgba(15, 136, 150, 0.8);
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: -30px;
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.65);
}

.reviewContainer .student a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(17, 17, 17, 0.6);
  border-top: 1px solid rgba(17, 17, 17, 0.2);
}

.reviewContainer .student a:hover {
  color: #111111;
}

.reviewContainer .student .studentsNumber {
  pointer-events: none;
}

.reviewContainer .studentsQuote {
  background: rgba(255, 255, 255, 0.6);
}

.reviewContainer .studentsQuote p {
  font-size: 14px;
  text-align: justify;
  text-shadow: none;
  font-style: italic;
  color: #111111;
}

.reviewContainer .studentsQuote p::before {
  content: '« ';
  color: #0f8896;
  font-size: 20px;
}

.reviewContainer .studentsQuote p::after {
  content: ' »';
  color: #0f8896;
  font-size: 20px;
}

.reviewContainer .teacher {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(17, 17, 17, 0.9);
  border-top: 1px solid rgba(17, 17, 17, 0.6);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.reviewContainer .teacher h1 {
  margin: 0;
  color: #0f8896;
  text-shadow: 0 1px 1px #111111;
}

.reviewContainer .teacher img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgba(15, 136, 150, 0.8);
}

.reviewContainer .teachersAnswer {
  text-align: right;
  font-size: 12px;
  color: white;
  margin-right: 0;
  padding-right: 0;
}

.reviewContainer p {
  text-shadow: none;
  font-style: italic;
}

.reviewContainer p::before {
  content: '« ';
  color: #0f8896;
  font-size: 20px;
}

.reviewContainer p::after {
  content: ' »';
  color: #0f8896;
  font-size: 20px;
}

.toggleReview {
  width: 100%;
  background: rgba(17, 17, 17, 0.8);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}

.toggleReview a {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.toggleReview a:hover {
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
}

.miniReview {
  background: rgba(255, 255, 255, 0.4);
}

.fullReview {
  display: none;
  width: 100%;
  padding: 0;
}

.openReview {
  cursor: pointer;
  width: 100%;
  background: rgba(17, 17, 17, 0.8);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}

.openReview i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.openReview:hover i {
  color: white;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
}

.closeReview {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.contacts {
  margin-top: 31px;
}

.contacts div[class*="col"] .achievementsCont:hover {
  background-color: transparent;
  box-shadow: none;
}

.contacts__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.contacts__list li {
  margin: 15px 15px;
  padding: 5px;
}

.contacts__list li a {
  font-size: 36px;
}

.contacts__list li a i {
  color: rgba(17, 17, 17, 0.6);
}

.contacts__list li a i:hover {
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.4);
  transform: translateY(-10px);
}

.contacts__list li:nth-child(1):hover a i {
  color: #00aff0;
}

.contacts__list li:nth-child(2):hover a i {
  color: #3b5998;
}

.contacts__list li:nth-child(3):hover a i {
  color: #45668e;
}

.contacts__list li:nth-child(4):hover a i {
  color: #0088cc;
}

.contacts__list li:nth-child(5):hover a i {
  color: #25d366;
}

.contacts__list li:last-child {
  display: block;
  font-size: 26px;
  color: rgba(17, 17, 17, 0.6);
  width: 100%;
  text-align: center;
}

.contacts__list li:last-child i {
  font-size: 26px;
}

.contacts__list li:last-child:hover {
  color: #59267c;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.4);
}

.contacts__list li:last-child:hover a {
  cursor: normal;
  pointer-events: none;
}

.contacts__list li:last-child:hover a i {
  color: #59267c;
}

.map__google {
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
}

.map__google iframe {
  border: 3px solid rgba(17, 17, 17, 0.6);
}

.map__google iframe:hover {
  border-color: #0f8896;
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.8);
}

.map__google p {
  margin-top: 10px;
  border-bottom: 1px solid #0f8896;
}

.map__google p i {
  color: #0f8896;
}

footer {
  background: rgba(17, 17, 17, 0.9);
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  background-color: rgba(17, 17, 17, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding-top: 15px;
  padding-bottom: 5px;
}

footer p {
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-align: right;
}

footer a {
  color: #0f8896;
  font-weight: 400;
  letter-spacing: .5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

footer a:hover {
  color: #0f8896;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.toTheTop {
  display: block;
  position: fixed;
  right: 2%;
  bottom: 12%;
  font-size: 40px;
  color: #111111, 0.8;
  z-index: 10;
}

.toTheTop:hover {
  cursor: pointer;
  color: #0f8896;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.2);
}

span#anchorMe,
span#reviews,
span#prices,
span#contacts {
  margin-top: -9px;
  display: block;
}

.carousel-control {
  color: #111111;
}

.carousel-control:focus,
.carousel-control:hover {
  color: #0f8896;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.glyphicon-chevron-right::before,
.glyphicon-chevron-left::before {
  display: none;
}

.diplomas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
}

.diplomas .diplomas__block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.diplomas .diplomas__block img {
  width: 100%;
  height: 100%;
  padding: 4px;
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid rgba(17, 17, 17, 0.4);
}

.diplomas .diplomas__block:hover img {
  border-color: #0f8896;
}

.closeBtn {
  position: fixed;
  top: 3%;
  right: 2%;
  text-align: center;
  background: transparent;
  outline: none;
  border: none;
  text-shadow: 0 0 2px rgba(17, 17, 17, 0.8);
}

.closeBtn i {
  font-size: 40px;
  color: white;
}

.closeBtn:hover i {
  color: #0f8896;
}

@media screen and (min-width: 241px) and (max-width: 478px) {
  .blockTitle {
    font-size: 28px;
    padding: 15px 0;
  }
  .main-nav {
    right: 0;
    width: 60%;
  }
  .intro {
    flex-flow: row wrap;
    justify-content: center;
  }
  .intro .col-md-12 {
    flex-flow: row wrap;
  }
  .intro nav[class*="nav"] {
    padding: 0;
    margin: 0;
  }
  .intro nav[class*="nav"] ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: none;
  }
  .intro nav[class*="nav"] ul li {
    display: inline-block;
    margin: 2px 10px;
  }
  .intro nav[class*="nav"] ul li:nth-child(odd) {
    opacity: 1;
    font-size: 20px;
  }
  .intro nav[class*="nav"] ul li:nth-child(even) {
    display: none;
  }
  .intro nav[class*="nav"] ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    border-bottom: 2px solid transparent;
  }
  .intro div[class*="ava"] {
    flex-flow: row wrap;
    margin-top: 60px;
  }
  .intro div[class*="ava"] h1 {
    font-weight: 100;
    font-size: 44px;
  }
  .intro div[class*="ava"] h1:first-of-type {
    padding-right: 0;
  }
  .intro div[class*="ava"] h1:last-of-type {
    padding-left: 0;
  }
  div[class*="text"] h1.col-md-12 {
    font-size: 34px;
  }
  .reviewContainer {
    margin-top: 45px;
  }
  .reviewContainer p {
    font-size: 14px;
  }
  .toTheTop {
    display: none;
    z-index: -5;
    opacity: 0;
  }
  .contacts__list li:last-child {
    font-size: 18px;
  }
  .contacts__list li:last-child i {
    font-size: 18px;
  }
  .aboutMe,
  .reviews,
  .prices,
  .contacts,
  .map {
    margin-top: 49px;
  }
}

@media screen and (min-width: 479px) and (max-width: 640px) {
  .blockTitle {
    padding: 15px 0;
  }
  .intro {
    flex-flow: row wrap;
    justify-content: center;
  }
  .intro .col-md-12 {
    flex-flow: row wrap;
  }
  .intro nav[class*="nav"] {
    padding: 0;
    margin: 0;
  }
  .intro nav[class*="nav"] ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: none;
  }
  .intro nav[class*="nav"] ul li {
    display: inline-block;
    margin: 2px 10px;
  }
  .intro nav[class*="nav"] ul li:nth-child(odd) {
    opacity: 1;
    font-size: 20px;
  }
  .intro nav[class*="nav"] ul li:nth-child(even) {
    display: none;
  }
  .intro nav[class*="nav"] ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    border-bottom: 2px solid transparent;
  }
  .reviewContainer {
    margin-top: 45px;
  }
  .reviewContainer p {
    font-size: 16px;
  }
  .toTheTop {
    display: none;
    z-index: -5;
    opacity: 0;
  }
  span#anchorMe,
  span#reviews,
  span#prices,
  span#contacts {
    margin-top: -30px;
    display: block;
  }
}

@media screen and (min-width: 641px) and (max-width: 1199px) {
  .intro {
    flex-flow: row wrap;
    justify-content: center;
  }
  .intro .col-md-12 {
    flex-flow: row wrap;
  }
  .intro nav[class*="nav"] {
    padding: 0;
    margin: 0;
  }
  .intro nav[class*="nav"] ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: none;
  }
  .intro nav[class*="nav"] ul li {
    display: inline-block;
    margin: 2px 10px;
  }
  .intro nav[class*="nav"] ul li:nth-child(odd) {
    opacity: 1;
    font-size: 20px;
  }
  .intro nav[class*="nav"] ul li:nth-child(even) {
    display: none;
  }
  .intro nav[class*="nav"] ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    border-bottom: 2px solid transparent;
  }
  .reviewContainer {
    margin-top: 45px;
  }
  .toTheTop {
    display: none;
    z-index: -5;
    opacity: 0;
  }
  span#anchorMe,
  span#reviews,
  span#prices,
  span#contacts {
    margin-top: -30px;
    display: block;
  }
}
