* {
  box-sizing: border-box;
  transition: all .3s;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  color: #BDB7B9;
  background: #0b1c39;
  font-family: 'Roboto', Georgia, Arial, sans-serif;
  font-weight: 400;
}

img,
video,
object,
embed {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.header_players {
  width: 100%;
  height: 100vh;
  padding: 0;
  background: url(../img/work/header_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0px 2px rgba(13, 8, 14, 0.9);
}

.header_players .logo {
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header_players .logo img[alt="players_n_logo"] {
  width: 35%;
  margin-left: 32.5%;
}

.header_players .players_cover {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.header_players .players_cover h1 {
  position: absolute;
  bottom: 20%;
  width: 100%;
  font-size: 4.4em;
  color: #E4E2E7;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 4px rgba(13, 8, 14, 0.8);
  letter-spacing: 4px;
}

.header_players .players_cover img[alt="players_cover"] {
  width: 100%;
}

.top_blocks {
  padding: 0;
}

.top_blocks .one_of_blocks {
  background: #060709;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E4E2E7;
  text-transform: uppercase;
  position: relative;
}

.top_blocks .one_of_blocks h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 100;
  z-index: 2;
}

.top_blocks .one_of_blocks a {
  display: block;
  padding: 4px 16px;
  border: 2px solid #E4E2E7;
  border-radius: 25px;
  color: #E4E2E7;
  z-index: 2;
}

.top_blocks .one_of_blocks a:hover {
  text-decoration: none;
  color: #E4E2E7;
  padding: 4px 24px;
  background-color: #E4E2E7;
  color: #060709;
}

.top_blocks .one_of_blocks .block_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.top_blocks .one_of_blocks .block_bg img {
  width: 100%;
  height: 100%;
  opacity: .2;
}

.top_blocks .one_of_blocks:hover > .block_bg > img {
  transform: scale(1.2);
  opacity: .4;
}

.welcome_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-transform: uppercase;
}

.welcome_block h1 {
  margin: 0;
  font-size: 2.5em;
}

.welcome_block p {
  text-transform: none;
  padding: 15px 60px;
  text-align: center;
}

.welcome_block a {
  display: block;
  margin-top: 15px;
  padding: 4px 16px;
  border: 2px solid #E4E2E7;
  border-radius: 25px;
  color: #E4E2E7;
}

.welcome_block a:hover {
  text-decoration: none;
  color: #E4E2E7;
  padding: 4px 24px;
  background-color: #E4E2E7;
  color: #060709;
}

.square_news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  padding: 0;
}

.square_news .square_part {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 15px;
}

.square_news .square_part a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #E4E2E7;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(13, 8, 14, 0.8);
}

.square_news .square_part .square_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.square_news .square_part .square_bg img {
  width: 100%;
  height: 100%;
  opacity: .6;
}

.square_news .square_part:hover > .square_bg > img {
  transform: scale(1.045);
  opacity: .8;
}

.square_news .square_part_plus {
  height: 537px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin: 15px;
}

.square_news .square_part_plus .square_part_plus_block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 47.5%;
}

.square_news .square_part_plus .square_part_plus_block a {
  display: block;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  color: #E4E2E7;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(13, 8, 14, 0.8);
}

.square_news .square_part_plus .square_part_plus_block .square_bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.square_news .square_part_plus .square_part_plus_block .square_bg img {
  width: 100%;
  height: 100%;
  opacity: .6;
}

.square_news .square_part_plus .square_part_plus_block:hover > .square_bg > img {
  transform: scale(1.062);
  opacity: .8;
}

.container-fluid .clanWar,
.clanWar_block {
  margin: 0;
  padding: 0;
}

.clanWar_block {
  margin-top: 30px;
  padding: 60px 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clanWar_block h1 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 2.5em;
  color: #E4E2E7;
  text-transform: uppercase;
  text-shadow: 0 1px 4px rgba(13, 8, 14, 0.8);
}

.clanWar_block p {
  padding: 10px 320px;
  text-align: center;
}

.clanWar_block form {
  margin-top: 45px;
}

.clanWar_block input {
  padding: 6px 18px;
  outline: none;
  border: 1px solid rgba(13, 8, 14, 0.3);
  background-color: rgba(13, 8, 14, 0.2);
  border-radius: 25px;
  color: #E4E2E7;
}

.clanWar_block .clanWar_bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.clanWar_block .clanWar_bg img {
  width: 100%;
}

.instagramRow .image_block {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  display: flex;
}

.instagramRow .image_block img {
  width: 100%;
  height: 100%;
}

.instagramRow .image_block .image_caption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  color: #E4E2E7;
  background: rgba(13, 8, 14, 0.4);
}

.instagramRow .image_block .image_caption h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
}

.instagramRow .image_block .image_caption p {
  font-size: .8em;
}

.instagramRow .image_block .image_caption a {
  display: block;
  width: 100%;
  text-align: right;
  font-size: .7em;
  color: #E4E2E7;
}

.instagramRow .image_block:hover > .image_caption {
  display: inherit;
  bottom: 0;
}
