@charset "UTF-8";
* {
  box-sizing: border-box;
  transition: all .3s;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Roboto', Georgia, Arial, sans-serif;
  font-weight: 400;
  background: url(../img/bg_numbers.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.intro .col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro nav[class*="nav"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: rgba(17, 17, 17, 0.8);
  border-bottom: 1px solid rgba(17, 17, 17, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.6);
}

.intro nav[class*="nav"] ul {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: none;
}

.intro nav[class*="nav"] ul li {
  display: inline-block;
  margin: 0 15px;
}

.intro nav[class*="nav"] ul li a {
  padding: 2px 10px;
  color: white;
  border-bottom: 2px solid transparent;
}

.intro nav[class*="nav"] ul li a:hover {
  color: white;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
}

.intro nav[class*="nav"] ul li:nth-child(even) a:hover {
  border-bottom: 2px solid #f49a6a;
}

.intro nav[class*="nav"] ul li:nth-child(odd) a:hover {
  border-bottom: 2px solid #f46a6a;
}

.intro div[class*="ava"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  margin-bottom: 25vh;
}

.intro div[class*="ava"] h1 {
  font-weight: 100;
  font-style: italic;
  font-size: 54px;
  color: white;
  text-align: left;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
}

.intro div[class*="ava"] img {
  width: 55%;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 14px rgba(17, 17, 17, 0.6);
}

.intro div[class*="ava"] p {
  padding: 20px;
  font-style: italic;
  font-size: 18px;
  color: white;
  background: rgba(17, 17, 17, 0.45);
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.4);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.intro div[class*="ava"] p .mathColor {
  color: #f46a6a;
}

.intro div[class*="ava"] p .infColor {
  color: #f49a6a;
}

main .container-fluid {
  margin: 0;
  padding: 0;
}

main .container-fluid .row {
  padding: 0;
  margin: 0;
}

.aboutMe,
.education,
.reviews,
.prices,
.contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  padding: 0;
}

.blockTitle {
  width: 100vw;
  margin: 0;
  text-align: center;
  font-size: 44px;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 25px 0;
  font-style: italic;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  background-color: rgba(17, 17, 17, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(17, 17, 17, 0.8);
}

div[class*="col"] .achievementsCont {
  padding: 15px;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0);
  margin-bottom: 15px;
  height: 100%;
}

div[class*="col"] .achievementsCont:hover {
  background-color: rgba(17, 17, 17, 0.75);
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.4);
}

div[class*="col"] .achievementsCont:hover > h1 > i {
  color: #f49a6a;
}

div[class*="col"] .achievementsCont a {
  color: #f49a6a;
  border-bottom: 1px solid transparent;
}

div[class*="col"] .achievementsCont a:hover {
  border-bottom: 1px solid white;
}

h1.ico {
  text-align: center;
  border-bottom: none;
}

h1.ico i {
  color: white;
  padding-bottom: 30px;
  font-size: 60px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.4);
}

p {
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
}

p .rate {
  font-size: 18px;
  font-style: italic;
  letter-spacing: .5px;
  color: #f49a6a;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.reviewContainer .student {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  background: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.reviewContainer .student h1 {
  margin: 0;
  font-size: 20px;
}

.reviewContainer .student img {
  width: 100%;
  border: 3px solid rgba(244, 154, 106, 0.8);
  border-radius: 50%;
}

.reviewContainer .student a {
  color: rgba(17, 17, 17, 0.6);
}

.reviewContainer .student a:hover {
  color: #111111;
}

.reviewContainer .studentsQuote {
  background: rgba(255, 255, 255, 0.6);
}

.reviewContainer .studentsQuote p {
  font-size: 14px;
}

.reviewContainer .studentsQuote p {
  font-size: 14px;
  text-align: justify;
  text-shadow: none;
  font-style: italic;
  color: #111111;
}

.reviewContainer .studentsQuote p::before {
  content: '« ';
  color: #f49a6a;
  font-size: 20px;
}

.reviewContainer .studentsQuote p::after {
  content: ' »';
  color: #f49a6a;
  font-size: 20px;
}

.reviewContainer .teacher {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(17, 17, 17, 0.9);
  border-top: 1px solid rgba(17, 17, 17, 0.6);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.reviewContainer .teacher h1 {
  margin: 0;
  color: #f49a6a;
  text-shadow: 0 1px 1px #111111;
}

.reviewContainer .teacher img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgba(244, 106, 106, 0.8);
}

.reviewContainer .teachersAnswer {
  text-align: right;
  font-size: 16px;
  color: white;
}

.reviewContainer p {
  text-shadow: none;
  font-style: italic;
}

.reviewContainer p::before {
  content: '« ';
  color: #f46a6a;
  font-size: 20px;
}

.reviewContainer p::after {
  content: ' »';
  color: #f46a6a;
  font-size: 20px;
}

footer {
  background: #000;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  background-color: rgba(17, 17, 17, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer a {
  color: #f49a6a;
}

footer a:hover {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 241px) and (max-width: 479px) {
  .main-nav {
    right: 0;
    width: 60%;
  }
  .intro {
    flex-flow: row wrap;
    justify-content: center;
  }
  .intro .col-md-12 {
    flex-flow: row wrap;
  }
  .intro div[class*="ava"] {
    flex-flow: row wrap;
    margin-top: 1vh;
  }
  .intro div[class*="ava"] h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 44px;
    color: rgba(17, 17, 17, 0.8);
  }
  .intro div[class*="ava"] h1:first-of-type {
    padding-right: 0;
  }
  .intro div[class*="ava"] h1:last-of-type {
    padding-left: 0;
  }
  .intro div[class*="about"] {
    margin-top: 0;
    padding: 10px 20px;
  }
  .intro div[class*="about"] p {
    padding: 20px;
    font-style: italic;
    font-size: 18px;
    color: white;
    background: rgba(17, 17, 17, 0.45);
    box-shadow: 0 2px 2px rgba(17, 17, 17, 0.4);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  .intro div[class*="about"] p .mathColor {
    color: #f46a6a;
  }
  .intro div[class*="about"] p .infColor {
    color: #f49a6a;
  }
}

@media screen and (min-width: 479px) and (max-width: 640px) {
  .main-nav {
    right: 0;
    width: 40%;
  }
}
