@charset "UTF-8";
* {
  box-sizing: border-box;
  transition: all .3s;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Roboto', Georgia, Arial, sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.intro .col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro nav[class*="nav"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: rgba(17, 17, 17, 0.8);
  border-bottom: 1px solid rgba(17, 17, 17, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.6);
}

.intro nav[class*="nav"] ul {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: none;
}

.intro nav[class*="nav"] ul li {
  display: inline-block;
  margin: 0 15px;
}

.intro nav[class*="nav"] ul li:nth-child(odd) {
  color: white;
  opacity: 0;
}

.intro nav[class*="nav"] ul li a {
  padding: 2px 10px;
  color: white;
  border-bottom: 2px solid transparent;
}

.intro nav[class*="nav"] ul li a:hover {
  color: white;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
  border-bottom: 2px solid #15997a;
}

.intro div[class*="ava"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 15px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
}

.intro div[class*="ava"] img {
  width: 55%;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 14px rgba(17, 17, 17, 0.6);
}

.intro div[class*="text"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro div[class*="text"] h1 {
  font-weight: 100;
  font-size: 54px;
  color: #111111;
  text-align: center;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
}

.intro div[class*="text"] p {
  width: auto;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 18px;
  color: #111111;
  background: white;
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.4);
  border-radius: 4px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.intro div[class*="text"] p .mathColor {
  color: #f46a6a;
}

.intro div[class*="text"] p .infColor {
  color: #15997a;
}

main .container-fluid {
  margin: 0;
  padding: 0;
}

main .container-fluid .row {
  padding: 0;
  margin: 0;
}

.aboutMe,
.education,
.reviews,
.prices,
.contacts,
.map,
.reviewsTop {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  padding: 0;
}

.reviewsTop {
  margin-top: 0;
}

.blockTitle {
  width: 100vw;
  margin: 0;
  text-align: center;
  font-size: 44px;
  color: white;
  margin-bottom: 45px;
  padding: 25px 0;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  background-color: rgba(17, 17, 17, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(17, 17, 17, 0.8);
}

div[class*="col"] .achievementsCont {
  padding: 15px;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0);
  margin-bottom: 15px;
  height: 100%;
}

div[class*="col"] .achievementsCont:hover {
  background-color: white;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.4);
}

div[class*="col"] .achievementsCont:hover > h1 > i {
  color: #15997a;
}

div[class*="col"] .achievementsCont a {
  color: #15997a;
  border-bottom: 1px solid transparent;
}

div[class*="col"] .achievementsCont a:hover {
  border-bottom: 1px solid white;
}

h1.ico {
  text-align: center;
  border-bottom: none;
}

h1.ico i {
  color: rgba(17, 17, 17, 0.75);
  padding-bottom: 30px;
  font-size: 60px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.4);
}

p {
  color: rgba(17, 17, 17, 0.75);
  text-align: center;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.2);
}

p .rate {
  letter-spacing: .5px;
  color: #15997a;
  font-weight: 700;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0);
  margin-bottom: 30px;
  width: 100%;
}

.reviewContainer:hover {
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.8);
  border-radius: 4px;
}

.reviewContainer .student {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  background: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.reviewContainer .student:nth-child(1), .reviewContainer .student:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviewContainer .student:nth-child(1) h1, .reviewContainer .student:nth-child(2) h1 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 15px;
}

.reviewContainer .student img {
  width: 100%;
  border: 3px solid rgba(21, 153, 122, 0.8);
  border-radius: 50%;
  margin-bottom: 10px;
}

.reviewContainer .student a {
  display: block;
  padding-top: 10px;
  color: rgba(17, 17, 17, 0.6);
  border-top: 1px solid rgba(17, 17, 17, 0.2);
}

.reviewContainer .student a:hover {
  color: #111111;
}

.reviewContainer .studentsQuote {
  background: rgba(255, 255, 255, 0.6);
}

.reviewContainer .studentsQuote p {
  font-size: 14px;
}

.reviewContainer .studentsQuote p {
  font-size: 14px;
  text-align: justify;
  text-shadow: none;
  font-style: italic;
  color: #111111;
}

.reviewContainer .studentsQuote p::before {
  content: '« ';
  color: #15997a;
  font-size: 20px;
}

.reviewContainer .studentsQuote p::after {
  content: ' »';
  color: #15997a;
  font-size: 20px;
}

.reviewContainer .teacher {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(17, 17, 17, 0.9);
  border-top: 1px solid rgba(17, 17, 17, 0.6);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.reviewContainer .teacher h1 {
  margin: 0;
  color: #15997a;
  text-shadow: 0 1px 1px #111111;
}

.reviewContainer .teacher img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgba(21, 153, 122, 0.8);
}

.reviewContainer .teachersAnswer {
  text-align: right;
  font-size: 14px;
  color: white;
}

.reviewContainer p {
  text-shadow: none;
  font-style: italic;
}

.reviewContainer p::before {
  content: '« ';
  color: #15997a;
  font-size: 20px;
}

.reviewContainer p::after {
  content: ' »';
  color: #15997a;
  font-size: 20px;
}

.toggleReview {
  width: 100%;
  background: rgba(17, 17, 17, 0.8);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}

.toggleReview a {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.toggleReview a:hover {
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
}

.fullReview {
  display: none;
  width: 100%;
  padding: 0;
}

.openReview {
  cursor: pointer;
  width: 100%;
  background: rgba(17, 17, 17, 0.8);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}

.openReview i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.openReview:hover i {
  color: white;
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.9);
}

.closeReview {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.map {
  padding-bottom: 15px;
}

.map .map__google {
  text-align: center;
}

.map .map__google iframe {
  border: 3px solid rgba(17, 17, 17, 0.6);
}

.map .map__google iframe:hover {
  border-color: #15997a;
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.8);
}

.map .map__google p {
  border-bottom: 1px solid #15997a;
}

.map .map__google p i {
  color: #15997a;
}

footer {
  background: rgba(17, 17, 17, 0.9);
  text-shadow: 0 1px 1px rgba(17, 17, 17, 0.8);
  background-color: rgba(17, 17, 17, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding-top: 15px;
  padding-bottom: 5px;
}

footer p {
  color: white;
  font-size: 14px;
}

footer a {
  color: #15997a;
}

footer a:hover {
  color: #15997a;
  border-bottom: 1px solid white;
}

.carousel-control {
  color: #111111;
}

.carousel-control:focus,
.carousel-control:hover {
  color: #15997a;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

@media screen and (min-width: 241px) and (max-width: 478px) {
  .main-nav {
    right: 0;
    width: 60%;
  }
  .intro {
    flex-flow: row wrap;
    justify-content: center;
  }
  .intro .col-md-12 {
    flex-flow: row wrap;
  }
  .intro nav[class*="nav"] {
    padding: 0;
    margin: 0;
  }
  .intro nav[class*="nav"] ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: none;
  }
  .intro nav[class*="nav"] ul li {
    display: inline-block;
    margin: 2px 10px;
  }
  .intro nav[class*="nav"] ul li:nth-child(odd) {
    opacity: 1;
    font-size: 20px;
  }
  .intro nav[class*="nav"] ul li:nth-child(even) {
    display: none;
  }
  .intro nav[class*="nav"] ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    border-bottom: 2px solid transparent;
  }
  .intro div[class*="ava"] {
    flex-flow: row wrap;
    margin-top: 60px;
  }
  .intro div[class*="ava"] h1 {
    font-weight: 100;
    font-size: 44px;
  }
  .intro div[class*="ava"] h1:first-of-type {
    padding-right: 0;
  }
  .intro div[class*="ava"] h1:last-of-type {
    padding-left: 0;
  }
  div[class*="text"] h1.col-md-12 {
    font-size: 34px;
  }
  .map .map__google iframe {
    width: 230px;
  }
}

@media screen and (min-width: 479px) and (max-width: 640px) {
  .main-nav {
    right: 0;
    width: 40%;
  }
  .map .map__google iframe {
    width: 420px;
  }
}

@media screen and (min-width: 641px) and (max-width: 860px) {
  .map .map__google iframe {
    width: 600px;
  }
}
